/* html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
} */

.container-fluid {
  padding-right: 10rem;
  padding-left: 10rem;
}

.bg-toprow {
  background-color: #54aea9;
}

.bg-row-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.bg-row-2 .card {
  border-radius: 0;
}

.form-control-row {
  background-color: #54aea9;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.media-1 p {
  font-size: 0.9rem;
  padding-top: 0.5rem;
  line-height: 1.4;
}

.image-cards p {
  letter-spacing: 3px;
}
/* 
.media .gear-img {
  padding-right: 2%;
} */

.top-media {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
}

.fa-envelope {
  font-weight: 900;
  padding-top: 0.5rem;
  color: white;
}

.fa-cog {
  padding-top: 1rem;
  padding-right: 1rem;
}

.fa-image {
  padding-top: 1rem;
  padding-right: 1rem;
}

.fa-camera {
  padding-top: 1rem;
  padding-right: 1rem;
}

/*Buttons*/
.row-1-button {
  background-color: white;
  color: #54aea9;
  border-radius: 0;
}

.row-2-button {
  background-color: #54aea9;
  color: white;
  border-radius: 0;
}

.button-submit {
  background-color: white;
  color: #54aea9;
  border-radius: 0;
}

.image-cards {
  color: #3e7db7;
}

.card-img-top {
  border: 5px solid white;
}

.email-form-design {
  border-radius: 0rem;
}
.email-form-padding {
  padding-top: 0.5rem;
}

.border-right h6 {
  font-size: 1rem;
  text-align: right;
  padding-right: 2rem;
}

.email-center-title h6 {
  font-size: 1rem;
  line-height: 1.2rem;
  color: white;
}
.email-row-font {
  color: white;
}

.email-row-font .newsletter-font {
  font-size: 0.8rem;
}

.mb-2 {
  border-radius: 0rem;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 1px;
  padding-left: 1px;
}

.fourth-row-design {
  padding-top: 1rem;
}

/* //fifth row design */
.card-title-background {
  background-color: #54aea9;
  color: white;
}

.list-inline-item img {
  height: 3rem;
  width: 5rem;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
}
/* .list-inline ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
} */
