.container-fluid {
  padding-right: 10rem;
  padding-left: 10rem;
}

.bg-toprow {
  background-color: #54aea9;
}

.bg-row-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.form-control-row {
  background-color: #54aea9;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.media-1 p {
  font-size: 1rem;
}

.media .gear-img {
  padding-right: 2%;
}

.top-media {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
}

.fa-envelope {
  font-weight: 900;
  padding-top: 1rem;
  color: white;
}

.fa-cog {
  padding-top: 2%;
  padding-right: 2%;
}

/*Buttons*/
.row-1-button {
  background-color: white;
  color: #54aea9;
  border-radius: 0;
}

.row-2-button {
  background-color: #54aea9;
  color: white;
  border-radius: 0;
}

.image-cards {
  color: #3e7db7;
}

.card-img-top {
  border: 5px solid white;
}
